@import "custom";

.header {
  text-align: center;
}

.wizard-container {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  text-align: center;
  padding: 20px;
  display: block;
  overflow: auto;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}