@import "custom";

.header {
  text-align: center;
}

.buy-option-wizard {
  text-align: center;
  width: 30%;
  height: 500px;
  padding: 20px;
  margin: auto;
}

.form-group {
  height: 100px;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}
