root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
indent_size = 4

[*.py]
indent_size = 4

[*.sol]
indent_size = 4

[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 4
